/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #001bb7;
  --ifm-color-primary-dark: #0018a5;
  --ifm-color-primary-darker: #00179c;
  --ifm-color-primary-darkest: #001380;
  --ifm-color-primary-light: #001ec9;
  --ifm-color-primary-lighter: #001fd2;
  --ifm-color-primary-lightest: #0023ee;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5497a7;
  --ifm-color-primary-dark: #4c8896;
  --ifm-color-primary-darker: #47808e;
  --ifm-color-primary-darkest: #3b6a75;
  --ifm-color-primary-light: #63a2b1;
  --ifm-color-primary-lighter: #6ca7b5;
  --ifm-color-primary-lightest: #85b6c2;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


footer a {
  color: #69a2c2;
}

.footer__link-item:hover, .footer__link-item a:hover {
  color: #FFFFFF;
}
